.jumbotron {
  padding-top: 2rem;
  background-color: black;
  font-family: "Allison", cursive;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Indie Flower", cursive;
}
#gallery {
  background-color: black;
}
.sosmed li {
  display: block;
}
.navbar {
  font-family: "Allison", cursive;
  font-family: "Dancing Script", cursive;
  background-color: black;
}
.sosmed li a {
  color: black;
  text-decoration: none;
}
.row a {
  color: white;
  text-decoration: none;
}
.button {
  background: #348f50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56b4d3, #348f50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56b4d3, #348f50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
}
